@media (max-width: 768px) {
  .title,
  .navbar-brand,
  .footer-logo {
    font-size: 25px;
  }
  header {
    height: 100vh !important;
  }

  .header-btn {
    font-size: 12px !important;
    /* margin: 20px 0; */
    font-size: 16px;
  }

  .head-img {
    max-width: 350px;
    max-height: 170px;
    border-radius: 5px;
    margin-top: 25px;
  }

  /* introduction  */


  /* platform  */
  .platforms {
    margin-top: 40px;
  }

  /* user problem  */
  .problem {
    margin-top: 0;
  }

  .client-logo {
    font-size: 17px;
  }

  .problem-titles {
    font-size: 16px;
  }
  .problem-texts {
    font-size: 14px;
  }

  .problem-stats {
    font-size: 18px;
  }

  .problem-stats-text {
    font-size: 14px;
  }

  .chex-icon {
    font-size: 12px;
    border: 2px solid;
    width: 25px;
    height: 25px;
  }

  /* what customers say  */
  .customerImg {
    /* width: 200px;
    height: 50px; */
    padding-left: 0px;
    margin-top: 20px;
  }
  .vertical-heading {
    text-align: center;
  }
  .vertical-heading h5 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    display: block;
    position: static;
    margin-bottom: 15px;
  }
  .vertical-heading h2 {
    font-size: 29px;
    line-height: normal;
    margin: 0;
  }

  /* Testimonials */
  #testimonials {
    padding-top: 45px;
  }
  #testimonial-slider {
    top: 0;
  }
  #testimonials .vertical-heading {
    padding: 0;
  }

  .testimonial {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .testimonial .row {
    margin: 0;
  }
  .testimonial h3 {
    font-size: 22px;
  }
  .testimonial .stars {
    font-size: 16px;
  }
  .author img {
    width: 60px !important;
    height: 60px;
  }

  .testimonial p {
    font-size: 13px;
  }

  .author .author-name-des {
    font-size: 13px;
  }

  /*  work images */
  .wrapper {
    width: 300px;
    height: 400px;
  }

  /* statistic  */
  .number {
    border-bottom: 4px solid transparent;
    font-size: 25px;
    width: 130px;
  }
  .statistiken-text {
    font-size: 14px;
  }

  /* footer  */
  .footer-text {
    font-size: 12px;
    padding: 0 40px;
  }

  .copyRight {
    font-size: 14px;
  }

  /* Questions  */
  .question {
    font-size: 12px;
  }

  .accordion-button::before {
    font-size: 1rem;
    width: 25px;
    height: 25px;
  }
  .accordion-body {
    font-size: 12px;
    line-height: 20px;
  }

  /* ------------------------------- */
  .impressum-title {
    font-size: 17px;
  }
  .impressum p {
    font-size: 13px;
  }

  .calender-number {
    font-size: 12px;
  }

  .progress {
    height: 25px;
    font-size: 8px !important;
  }

  .head-title {
    font-size: 32px !important;
  }
  .head-title-text {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .scroll-mobile-video {
    width: 350px;
    height: 600px;
  }

  .user-problem-photo {
    width: 300px;
    height: 500px;
  }

  .register-btn {
    font-size: 14px;
  }

  .introduction-lable {
    color: #01cbee;
    font-size: 16px;
  }

  .introduce-text {
    font-size: 14px;
    line-height: 30px;
  }

  .progress {
    height: 25px;
    font-size: 12px;
  }

  .head-title {
    font-size: 40px;
  }

  .head-img{
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Generic */
  .vertical-heading h2 {
    font-size: 29px;
  }
}

@media (max-width: 480px) {
  /* Generic */
  .title,
  .navbar-brand,
  .footer-logo {
    font-size: 22px;
  }

  .vertical-heading h2 {
    font-size: 22px;
  }
  /* Testimonials */
  .testimonial h3 {
    font-size: 19px;
    line-height: 18px;
  }
  .testimonial .stars {
    font-size: 14px;
  }

  .testimonial p {
    font-size: 12px;
  }

  .item {
    height: 125px;
  }

  /* statistic  */
  .number {
    border-bottom: 4px solid transparent;
    font-size: 17px;
    width: 90px;
  }
  .statistiken-text {
    font-size: 10px;
  }

  .copyRight {
    font-size: 12px;
  }

  .user-problem-photo {
    width: 250px;
    height: 400px;
  }

  .logos-slide img {
    width: 150px;
  }

  .head-title {
    font-size: 20px !important;
  }
  .head-title-text{
    font-size: 10px;
  }

  .header-btn{
    font-size: 10px;
    padding: 5px;
    /* margin-top: 50px !important; */
  }

  .head-img {
    max-width: 230px !important;
    max-height: 200px !important;
    border-radius: 5px;
    margin-top: 25px;
  }

  .aliVideo{
    height: 400px;
  }
}

@media (max-width: 350px) {
  /* Testimonials */
  .testimonial h3 {
    font-size: 17px;
    line-height: 16px;
  }
  .testimonial .stars {
    font-size: 12px;
  }
  .title {
    font-size: 20px;
  }
  .rules-link a {
    font-size: 12px;
  }

  .item {
    height: 115px;
  }

  .progress div img {
    width: 15px;
    height: 15px;
  }

  .scroll-mobile-video {
    height: 500px;
  }

  .head-title {
    font-size: 20px !important;
  }
  .head-title-text{
    font-size: 10px;
  }

  .header-btn{
    font-size: 10px !important;
    padding: 5px;
    /* margin-top: 50px !important; */
  }

  .head-img {
    max-width: 230px !important;
    max-height: 130px !important;
    border-radius: 5px;
    margin-top: 25px;
  }
}