/* Global config  */

/* font  */

/* @font-face {
  font-family: 'FunnelDisplay';
  src: url('./fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
} */

@font-face {
  font-family: "Hubot";
  src: url("./fonts/Hubot_Sans/static/HubotSans-SemiBold.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* colors  */
:root {
  --body: #0b1b34;
  --blue: #00c6e9;
  --red: #bc2525;
  --customer: #162b4d;
  --blue-to-white: linear-gradient(
    to right,
    #00c6e9 10%,
    #00c6e9 2%,
    #ffffff 40%,
    #ffffff 100%
  );
  --statistik: linear-gradient(90deg, #bc2525 1%, #19376d 60%, #0b2447 100%);
  --darkBlue-lightBlue: linear-gradient(90deg, #162b4d 29%, #00c6e9 100%);
  --red-blue-light: #19376d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation-duration: 1s;
  animation-delay: 0s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body);
  font-family: "Hubot", sans-serif;
  overflow-x: hidden;
}

i {
  cursor: pointer;
}

.text-red {
  color: var(--red);
}

.text-blue {
  color: var(--blue);
}

#register {
  background: var(--blue);
  color: var(--customer);
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 20px 5px var(--blue);
}

.register-btn {
  font-size: 18px;
}

.logo-mid-name {
  color: var(--blue);
  text-shadow: 2px 3px 20px var(--blue);
}

section,
footer {
  margin-top: 200px;
}

.title {
  font-size: 35px;
}

.gradient-title {
  font-weight: bold;
  background: var(--blue-to-white);
  background: var(--blue-to-white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* preloader  */

#preloader {
  background-color: var(--body);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

#status {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#status::before,
#status::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

#status::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
  animation: preloader 0.5s infinite linear;
}

#status::after {
  width: 85%;
  height: 85%;
  background-color: var(--body);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes preloader {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

/* scrollbar hidden */

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Header  */

.navbar-brand {
  font-size: 27px;
  font-weight: 900;
}

.nav-item a {
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.white-nav-top {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px);
  color: white;
  padding: 10px 0;
  z-index: 99998;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.active-link {
  color: white !important;
}
.active-link.active {
  border-bottom: 2.5px solid #f41313;
  padding-bottom: 6px;
}

.navbar-collapse ul li {
  margin-right: 10px;
}

.header {
  width: 100vw;
  height: 100dvh;
  overflow-y: scroll;
  background-image: url("../public/images/landing.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200dvh;
  background-color: var(--body);
  opacity: 60%;
  z-index: 1;
}

.content {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.left-content {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  width: 79%;
  height: 100dvh;
  margin-left: 50px;
}

.right-content {
  width: 100%;
  height: 100dvh;
  z-index: 5;
  padding-left: 90px;
}

.arg{
  text-shadow: 1px 2px 35px white;
}

.landing {
  width: 100%;
  height: 100dvh !important;
}

.overlay-img {
  position: absolute;
  bottom: 0;
  left: 33%;
  z-index: 77;
}

.overlay-img img {
  width: 280px;
  height: 130px;
}

.navbar-toggler-icon {
  background-image: url("../public/images/burger-menu.svg");
  z-index: 99;
}

.header-btn {
  margin-top: 30px;
  color: var(--red) !important;
}
.header-btn:hover {
  background-color: var(--red) !important;
  color: white !important;
  box-shadow: 0px 0px 15px 5px var(--red);

}

/* scroll-mobile  */

.scroll-mobile-video {
  width: 300px;
  height: 600px;
  z-index: 99;
  /* backdrop-filter: blur(9px); */
}
.scroll-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 50px;
  width: 100%;
}

/* Introduction */

.introduction-video {
  margin-top: -140px;
}

.introduction-lable {
  color: var(--blue);
  font-size: 20px;
  margin-right: 6px;
  text-shadow: 1px 2px 40px var(--blue);

}

.introduce-text {
  font-size: 17px;
  line-height: 30px;
}

/* Platform  */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #0b1b34);
  background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0), #0b1b34);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0b1b34);
  background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0), #0b1b34);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 40s slide infinite linear;
}

.logos-slide img {
  width: 180px;
  margin: 0 40px;
}

/* User Problems  */

.client-logo {
  font-size: 30px;
  background: var(--customer);
}

.chex-icon {
  font-size: 15px;
  margin-right: 15px;
  font-weight: bold;
  border: 2.5px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.problem {
  margin-top: 120px;
}

.user-problem-photo {
  width: 350px;
  height: 500px;
}

.problem-titles {
  font-size: 18px;
  font-weight: bold;
}

.problem-texts {
  font-size: 17.5px;
  line-height: 25px;
}

.problem-stats {
  font-size: 25px;
  text-shadow: 1px 2px 20px white;

}

.problem-stats-text{
  text-shadow: 1px 2px 40px var(--blue);
}

/* What Customers Say*/

.img-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.customerImg {
  width: 200px;
  height: 55px;
  padding-left: 30px;
  margin-top: 25px;
}

.customer-shadow{
  text-shadow: 1px 2px 12px var(--blue);
}

.vertical-heading h5 {
  color: var(--red);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -63px;
}

.vertical-heading h2 {
  margin: 0 0 0 35px;
  font-size: 42px;
  font-weight: 700;
  line-height: 45px;
}

#testimonials {
  background: var(--customer);
  padding-bottom: 45px;
  overflow: visible;
  margin-top: 200px;
}

#testimonials .vertical-heading {
  padding: 80px 0;
  margin-bottom: 50px;
  color: white;
}

#testimonial-slider {
  background: var(--red-blue-light);
  background-position: center;
  border-radius: 20px;
}

.testimonial .row {
  margin-bottom: 25px;
}

.testimonial {
  padding: 20px 45px 0 45px;
  color: white;
  margin-top: -80px;
  padding-bottom: 28px;
  font-weight: 600;
}

.testimonial h3 {
  font-size: 32px;
}

.testimonial .stars {
  font-size: 20px;
  text-shadow: 1px 2px 18px white;

}

.testimonial p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 17px;
}

.author .author-name-des {
  text-align: left;
  font-size: 16px;
}

.author .author-name-des p {
  margin: 0;
}

.footerdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 6px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.activate,
.footerdot:hover {
  background-color: var(--blue);
  box-shadow: 0px 0px 15px var(--blue);

}

/* Statistiken */

.number {
  width: 200px;
  padding-bottom: 10px;
  border-bottom: 8px solid transparent;
  border-image: var(--statistik);
  border-image-slice: 1;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

.statistiken-text {
  font-size: 20px;
  font-weight: 700;
  text-shadow: 2px 3px 20px white;
}

/* Work Images  */

.wrapper {
  height: 550px;
  overflow: hidden;
  gap: 20px;
}

.card-image {
  flex: 1;
  height: 100%;
  transition: flex 0.8s ease;
  cursor: pointer;
  border-radius: 35px;
}

.card-image:hover {
  flex: 5;
  box-shadow: 0px 0px 10px 1px var(--red);
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 1px var(--blue);
}

.card-1 {
  background-image: url("../public/images/car-german-5.jpeg");
}
.card-2 {
  background-image: url("../public/images/car-german-4.jpeg");
}
.card-3 {
  background-image: url("../public/images/car-german-3.jpeg");
}
.card-4 {
  background-image: url("../public/images/car-german-5.jpeg");
}
.card-5 {
  background-image: url("../public/images/car-german-5.jpeg");
}

/* Frequent Questions  */

.accordion-button::after {
  display: none;
}

.accordion {
  background: transparent;
  color: white;
  border: none;
}

.accordion-item {
  background-color: transparent;
  border: none;
  padding-top: 10px;
}

.accordion-button {
  background-color: transparent;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-image: var(--darkBlue-lightBlue);
  border-image-slice: 1;
  border-bottom: 1px solid transparent;
  position: relative;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: white;
  box-shadow: none;
}

.accordion-button::before {
  content: "+";
  font-size: 1.5rem;
  color: var(--body);
  background: var(--blue);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px 1px var(--blue);
}

.accordion-button:not(.collapsed)::before {
  content: "-";
  transform: translateY(-50%) rotate(180deg);
}

.accordion-body {
  background-color: var(--customer);
  padding: 1rem 1.5rem;
  color: var(--blue);
  text-align: justify;
  font-size: 17px;
  line-height: 25px;
}

.question {
  font-size: 17px;
  margin-right: 50px;
}

/* Footer  */

.footer {
  height: 400px;
}

.footer-logo {
  font-size: 30px;
  font-weight: 900;
}

.footer-container {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/lf.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.footer-container .footer {
  position: relative;
  z-index: 2;
}

.footer-text {
  font-weight: bold;
}

.email {
  font-weight: 600;
}

.footer-icons i:hover {
  transition: all 0.1s ease;
  transform: translateY(-5px);
}

.copyRight {
  background-color: var(--customer);
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.rules-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.rules-link a {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.rules-link a:hover {
  color: var(--blue);
}

/* -------------------------------- */

.impressum p {
  font-weight: bold;
  font-size: 15px;
}

.impressum-title {
  font-size: 25px;
}

/* calender  */

.calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 7fr);
  grid-template-rows: repeat(6, auto);
  gap: 4px;
}

.item {
  position: relative;
  height: 160px;
  background: var(--red-blue-light);
  color: white;
  cursor: pointer;
}

.calender-number {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 17px;
}

.progress{
  height: 27px;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 15px;
}


.progress-1{
  position: absolute;
  top: 4.5%;
  left: 1%;
  /* width: 98%; */
 background: var(--blue);
}

.progress-2{
  position: absolute;
  top: 8.5%;
  left: 21%;
  /* width: 38%; */
 background: var(--red);
}

.progress-3-a{
  position: absolute;
  top: 12.5%;
  left: 45%;
  /* width: 38%; */
 background: var(--blue-to-white);
}

.progress-3-b{
  position: absolute;
  top: 22%;
  left: 1%;
  /* width: 78%; */
 background: var(--blue-to-white);
}

.progress-4-a{
  position: absolute;
  top: 27%;
  left: 61%;
  /* width: 18%; */
 background: var(--darkBlue-lightBlue);
}

.progress-4-b{
  position: absolute;
  top: 40%;
  left: 1%;
  /* width: 78%; */
 background: var(--darkBlue-lightBlue);
}

.progress-5-a{
  position: absolute;
  top: 44%;
  left: 45%;
  /* width: 18%; */
 background: greenyellow;
}


.progress-5-b{
  position: absolute;
  top: 57%;
  left: 1%;
  /* width: 78%; */
 background: greenyellow;
}

.progress-6{
  position: absolute;
  top: 72%;
  left: 1%;
  /* width: 58%; */
 background: #9973d4;
}

.progress-7{
  position: absolute;
  top: 76%;
  left: 41%;
  /* width: 58%; */
 background: #ff025e;
}

.progress-8{
  position: absolute;
  top: 91%;
  left: 1%;
  /* width: 98%; */
 background: #d7c76b;
}